<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
        <package name="com.atlong.crm.settings.domain"/>
        <package name="com.atlong.crm.workbench.domian"/>
    </typeAliases>
    <!--引入mybatis映射文件-->
    <mappers>
        <package name="com.atlong.crm.settings.mapper"/>
        <package name="com.atlong.crm.workbench.mapper"/>
    </mappers>
</configuration>